---
import { Image } from "astro:assets";
import beforeAfter from "@assets/toronto-window-cleaning_1.webp";
import IconCheckmark from "@components/common/IconCheckmark.astro";
import { introContent } from "@data/homeContent.js";
---

<section class="pt-6 mb-16 text-gray-800" aria-label="Introduction section">
  <div class="container mx-auto xl:px-32 text-center lg:text-left">
    <div class="grid lg:grid-cols-2 items-center gap-8">
      <div class="mb-12 lg:mb-0">
        <div class="block rounded-lg shadow-lg px-6 py-12 md:px-12 lg:-mr-14 bg-blue-200/95 backdrop-blur-lg">
          <h2 class="text-3xl font-bold mb-6 uppercase text-primary">
            {introContent.heading}
          </h2>
          
          <p class="text-xl text-black mb-6">
            {introContent.subtext} <br />
            <span class="text-primary block mt-2">The Professionals.</span>
          </p>

          <div class="flex flex-col md:flex-row md:justify-around lg:justify-between mb-6 gap-4">
            {introContent.features.map((feature) => (
              <p class="flex items-center mx-auto md:mx-0">
                <IconCheckmark className="mr-2" />
                {feature}
              </p>
            ))}
          </div>

          <p class="text-black mb-0 whitespace-pre-line">
            {introContent.bodyText}
          </p>
        </div>
      </div>

      <div>
        <Image
          class="rounded-lg shadow-lg"
          src={beforeAfter}
          format="avif"
          width="640"
          height="640"
          alt="before and after image" />
      </div>
    </div>
  </div>
</section>
