---
// Footer.astro
const currentYear = new Date().getFullYear();
const socialLinks = [
  { name: 'Facebook', icon: 'fa-facebook-f', url: 'https://www.facebook.com/theprofessionalswindows' },
  { name: 'Twitter', icon: 'fa-twitter', url: 'https://twitter.com/TOWindowandEave' },
  { name: 'Instagram', icon: 'fa-instagram', url: 'https://www.instagram.com/theprofessionalswindows/' },
  { name: 'YouTube', icon: 'fa-youtube', url: 'https://www.youtube.com/channel/UCNetkzM6u3Xeh97Udv5gz0g' },
  { name: 'LinkedIn', icon: 'fa-linkedin-in', url: 'https://www.linkedin.com/in/the-professionals-window-and-eaves-cleaning-ltd-62163b246/' },
  { name: 'TikTok', icon: 'fa-tiktok', url: 'https://www.tiktok.com/@theproswindowcleaningltd' },
];

const usefulLinks = [
  { name: 'Eavestrough Cleaning', url: '/eavestrough-cleaning' },
  { name: 'Window Cleaning', url: '/window-cleaning' },
  { name: 'Power Washing', url: '/power-washing' },
  { name: 'Roofing', url: 'https://innovative-roofing.com/' },
];

const serviceAreas = [
  [
    { name: 'Toronto', url: '/toronto-window-cleaning' },
    { name: 'North York', url: '/north-york-window-cleaning' },
    { name: 'Scarborough', url: '/eavestrough-cleaning-scarborough' },
    { name: 'Etobicoke', url: '/etobicoke-eavestrough-cleaning' },
  ],
  [
    { name: 'Markham', url: '/window-cleaning-markham' },
    { name: 'Richmond Hill', url: '/eavestrough-cleaning-richmond-hill' },
    { name: 'Vaughan', url: '/window-cleaning-vaughan' },
    { name: 'Mississauga', url: '/mississauga-window-cleaning' },
  ],
  [
    { name: 'Pickering', url: '/eavestrough-cleaning-pickering' },
    { name: 'Ajax', url: '/eavestrough-cleaning-ajax' },
    { name: 'Thornhill', url: '/window-cleaning-thornhill' },
    { name: 'Brampton', url: '/brampton-window-cleaning' },
  ],
];
---

<footer class="bg-dark text-white py-8">
    <div class="container mx-auto px-4">
      <div class="text-center mb-6">
        <h3 class="text-lg font-bold mb-2">FOLLOW US ON</h3>
        <div class="flex justify-center space-x-4">
          {socialLinks.map(link => (
            <a href={link.url} class="text-white hover:text-gray-300" aria-label={link.name}>
              <i class={`fab ${link.icon} text-2xl`}></i>
            </a>
          ))}
        </div>
      </div>
    
    <div class="mb-6">
      <h3 class="text-lg font-bold mb-2">Sign up for our newsletter</h3>
      <form class="flex">
        <input type="email" placeholder="Email address" class="flex-grow p-2 rounded-l" />
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-r">SUBSCRIBE</button>
      </form>
    </div>
    
    <p class="text-center mb-6">
      We provide professional window cleaning and eavestrough cleaning at an affordable price.
    </p>
    
    <div class="grid md:grid-cols-4 gap-8">
      <div>
        <h4 class="font-bold mb-2">USEFUL LINKS</h4>
        <ul>
          {usefulLinks.map(link => (
            <li><a href={link.url} class="hover:underline">{link.name}</a></li>
          ))}
        </ul>
      </div>
      {serviceAreas.map((area, index) => (
        <div>
          <h4 class="font-bold mb-2">SERVICE AREAS</h4>
          <ul>
            {area.map(city => (
              <li>
                <a href={city.url} class="hover:underline">
                  {city.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
    
    <div class="text-center mt-8">
      <p>&copy; {currentYear} Copyright: The Professionals Window and Eaves Cleaning Ltd.</p>
    </div>
  </div>
</footer>